beautifulsoup4
comtypes
duckduckgo_search
gTTS
google-api-python-client
google-auth
google-auth-oauthlib
googletrans
httpx
llama-cpp-python
matplotlib
noisereduce
numpy
openai-whisper
opencv-python
pandas
Pillow
prompt_toolkit
pydantic
python-dotenv
PyPDF2
pyautogui
pyperclip
PyQt6
pytesseract
python-docx
openpyxl
qrcode
requests
rich
selenium
speedtest-cli
spotipy
supabase
SpeechRecognition
twilio
uvicorn
webrtcvad
yt-dlp
winshell
pygame
pyttsx3
