anthropic
beautifulsoup4
comtypes
duckduckgo_search
gTTS
google-api-python-client
google-auth
google-auth-oauthlib
google-generativeai
googletrans
llama-cpp-python
matplotlib
noisereduce
numpy
openai
openai-whisper
opencv-python
pandas
Pillow
pydantic
PyPDF2
pyautogui
pyperclip
PyQt6
pytesseract
python-docx
openpyxl
qrcode
requests
selenium
speedtest-cli
spotipy
supabase
SpeechRecognition
twilio
uvicorn
webrtcvad
yt-dlp
winshell
pyttsx3
