beautifulsoup4
comtypes
duckduckgo_search
edge-tts
fastapi
faster-whisper
gTTS
google-api-python-client
google-auth
google-auth-oauthlib
googletrans
httpx
instaloader
llama-cpp-python
matplotlib
noisereduce
numpy
onnxruntime
openai-whisper
opencv-python
pandas
Pillow
prompt_toolkit
psutil
pyaudio
pydantic
python-dotenv
PyPDF2
pyautogui
pyperclip
pytube
PyQt6
pytesseract
python-docx
openpyxl
qrcode
requests
rich
selenium
speedtest-cli
spotipy
supabase
SpeechRecognition
starlette
twilio
uvicorn
webrtcvad
yt-dlp
winshell
pygame
pyttsx3
